DateTime == 4.2
activesoup == 0.0.2
aiohttp	== 2.3.3
async-timeout == 2.0.0
beautifulsoup4 == 4.6.0
bs4 == 0.0.1
certifi == 2017.11.5
chardet == 3.0.4
discord.py == 0.16.12
html5lib == 0.999999999
idna == 2.6
multidict == 3.3.2
pip == 9.0.1
pytz == 2017.3
requests == 2.18.4
selenium == 3.7.0
setuptools == 36.7.2
six == 1.11.0
urllib3 == 1.22
webencodings == 0.5.1
websockets == 4.0.1
yarl == 0.14.2
zope.interface == 4.4.3